<%- include('../main_layouts/article/articleheader') %> 
<%- include('../main_layouts/article/subheader') %> 
    <h1 class="h1">Woy !</h1>
    <h5 class="h5">Apaan?!</h5>
    <p class="lead">Artikel 1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quisquam eligendi, corporis vitae deleniti debitis optio animi ad maxime ut reiciendis, alias odio aspernatur. Neque doloremque temporibus quos modi necessitatibus! <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, distinctio inventore, ut alias laboriosam optio ipsam fugiat sapiente reiciendis totam maiores ullam vero saepe pariatur fuga voluptate at laborum consectetur!</p>
    <br> <br>
    <p>Kata akidah atau i’tiqod secara bahasa berasal dari kata al ‘aqdu yang artinya berputar sekitar makna kokoh, kuat, dan erat. <br> <br>  1 Adapun secara istilah umum, kata akidah bermakna keyakinan yang kokoh akan sesuatu, tanpa ada keraguan <br> <br> 2. Jika keyakinan tersebut sesuai dengan realitas yang ada maka akidah tersebut benar, namun jika tidak sesuai maka akidah tersebut bathil. <br> <br> 3

        Setiap pemeluk suatu agama memiliki suatu akidah tertentu. Namun kebenaran akidah hanya ada dalam islam. Karena dia bersumber dari Dzat yang Maha Mengetahui, yaitu Allah ta’ala. Sehingga karenanya tidak ada perbedaan antara akidah yang dibawa oleh para Nabi dari masa ke masa.
        
        Adapun akidah yang bathil, mencakup semua akidah yang bertentangan dengan wahyu. Yaitu akidah yang hanya bersumber dari akal manusia, atau berasal dari wahyu namun dirubah dan diselewengkan. Seperti akidahnya orang yahudi bahwa Uzair adalah anak Allah, atau akidahnya orang Nashroni bahwa al masih adalah anak Allah, atau akidah syiah yang berkeyakinan bahwa Allah menyesal setelah berkehendak, yang dinamakan akidah bada’.
        
        Dalam definisi syar’i, akidah dalam agama islam bermakna masalah masalah ilmiyah yang berasal dari Allah dan Rosulnya, yang wajib bagi setiap muslim untuk meyakininya sebagai pembenaran terhadap Allah dan Rosul Nya. <br> <br> 4
        
        Meskipun kata akidah dalam hal ini merupakan istilah baru5 yang tidak dikenal dalam Al Qur’an maupun Sunnah6, namun para ulama menggunakan istilah ini. Yang menunjukan kebolehan penggunaan istilah ini. Toh, tidak ada masalah dalam penggunaan istilah jika maknanya dipahami.
        
        Diantara para ulama yang menggunakan istilah ini adalah Imam Al Laalakaai (418 H) dalam kitabnya Syarhul ushul I’tiqod ahlu sunnah wal jama’ah, kemudian Imam As Shobuni (449 H) dalam kitabnya Aqidas Salaf Ashaabul Hadits.
        
        Kemudian ada beberapa istilah yang semakna dengan akidah yang juga digunakan oleh para ulama, diantaranya :
        
        Al Fiqhul Akbar
        Pada awal kemunculannya kata fiqih dimaksudkan kepada ilmu tentang agama islam secara umum, dan terkhusus ilmu berkenaan dengan akherat, masalah masalah hati, penghancur amal dan sebagainya.7 Namun kemudian makna ini berubah menjadi ilmu tentang hukum hukum dhohir praktis syar’I yang sekarang dikenal dengan ilmu fiqih.8
        
        Sehingga karenanya ilmu fiqih di masa dahulu mencakup seluruh ilmu agama baik ilmu akidah yang bersifat bathin maupun ilmu hukum-hukum yang bersifat zahir. Dari sinilah kemudian muncul istilah Fiqhul Akbar yang dimaksudkan ilmu akidah. Karena ilmu akidah lebih agung dibandingkan ilmu cabang hukum-hukum zahir yang merupakan Fiqhul Ashghor.
        
        Ulama yang pertama kali menggunakan istilah ini adalah Abu Hanifah (150 H) dalam kitabnya Al Fiqhul Akbar. Beliau berkata, “Al Fiqhul Akbar dalam agama lebih baik dari fiqih dalam ilmu, seseorang faqih tentang bagaimana cara beribadah kepada Rabb nya lebih baik dari mengumpulkan seluruh ilmu”9
        
        Al Iman
        Iman secara bahasa10 bermakna At Tashdiq (pembenaran)11 dan Al Iqroor (penetapan)12. Adapun secara istilah syar’i iman adalah pembenaran dan penetapan serta ketundukan terhadap kebenaran yang berasal dari wahyu.13 Dan para ulama sepakat bahwa Iman mencakup perkataan dan perbuatan, perkataan hati dan lisan, perbuatan hati dan anggota badan.14
        
        Istilah iman merupakan kata yang paling sering disebutkan dalam Al Qur’an maupun sunnah. Diantara para ulama yang menggunakan istilah ini adalah Ibnu Mandah (395 H) dalam kitabnya Kitabul Iman, dan Syaikhul Islam Ibnu Taimiyah (728 H) juga dalam dua kitabnya yaitu Al Iman Ausath dan Al Imanul Kabir, kemudian juga Imam Bukhori dalam S- nya membuat bab di awal sohihnya dengan nama kitabul iman.15
        
        As Sunnah
        Kata sunnah memiliki makna yang bermacam macam tergantung disiplin ilmu masing masing16. Dalam ilmu fiqih sunnah adalah hal hal yang jika dikerjakan mendapatkan pahala, dan jika ditinggalkan tidak apa apa. Dalam ilmu ushul fiqih assunnah bermakna sumber wahyu kedua setelah Al Qur’an. Dalam ilmu hadits assunnah merupakan persamaan kata dari akidah, dan seterusnya. Terkadang juga sunnah digunakan sebagai antitesa dari kata bid’ah. Namun kemudian banyak ulama yang menggunakan istilah sunnah ditunjukan kepada makna akidah dikarenakan urgensi ilmu akidah yang merupakan pokok agama islam. Diantara para ulama yang menggunakan istilah sunnah adalah Imam Ahlus Sunnah Ahmad bin Hambal (327 H) dalam kitabus Sunnah dan Imam Al Barbahaari (329 H) dalam kitabnya Syarhus Sunnah.
        
        At Tauhid
        Kata tauhid terdapat dalam hadits Mu’adz ketika diutus ke yaman diatas. Diantara para ulama yang menggunakan kata ini adalah Ibnu Khuzaimah (311 H) dalam Kitabut Tauhid Wa Itsbaatu Shifaatir Rabb ‘Azza Wa Jalla , juga Imam Al Maqriizi (845 H) dalam kitabnya Tajridut Tauhid Al Mufid, serta Syaikhul Islam Muhammad bin Abdul Wahhab (1206 H) dalam Kitabut Tauhid Alladzi Huwa Haqqullah ‘Alal ‘Abid. Kitab kitab yang ditulis dengan istilah tauhid hanya membahas hal hal yang berkaitan dengan tauhid dengan ketiga macamnya, yang merupakan bagian dari ilmu akidah. Sehingga kitab kitab akidah lebih bersifat komprehensif (syumul). Selain membahas masalah tauhid, kitab kitab Akidah juga membahas hal hal lain seperti iman dan rukun rukunnya, islam dan rukun rukunnya, hal hal yang bersifat ghoib, kaidah kaidah dalam akidah yang pasti yang disepakati para ulama, wala dan baro, bantahan terhadap aliran sesat dll.17
        
        As syari’ah
        Secara umum akidah seperti sunnah, terkadang dimaksudkan seluruh yang disyariatkan oleh Allah kepada hambanya berupa hukum hukum yang disampaikan oleh para nabi. Terkadang dimaksudkan hanya masalah akidah, dan terkadang dimaksudkan masalah amaliyah fiqhiyah saja. Dalam Al Qur’an pun makna Syariah berbeda beda, terkadang syariat bermakna seluruh ajaran yang dibawa para nabi18, terkadang dikhususkan ajaran setiap nabi yang berbeda antara satu nabi dengan yang lainnya19, dan terkadang dikhususkan kepada kesamaan da’wah seluruh nabi yaitu tauhid.20
        
        Adapun secara khusus makna Syari’ah adalah akidah yang diyakini oleh ahlu sunnah wal Jama’ah. Dan ini lah yang dimaksud oleh para ulama ketika menulis kitab kitab akidah dengan nama As Syari’ah. Diantara ulama yang menggunakan istilah ini adalah Imam Al Ajurri (360 H) dalam kitab beliau As Syarii’ah dan Ibnu Bathoh (387 H) dalam kitab beliau Al Ibaanah ‘Alaa Syarii’ati Firqotun Naajiyah.
        
        Ushulud Din
        Ashlu atau pokok adalah apa yang dibangun diatasnya sesuatu. Maka ushulud din adalah sesuatu yang agama dibangun diatasnya. Dan agama islam dibangun diatas akidah yang benar. Sehingga para ulama menggunakan istilah ini dengan makna ilmu akidah. Dan ini yang kita kenal dalam perguruan perguruan tinggi di timur tengah, saudi arabia khususnya fakultas yang berkonsentrasi membahas akidah adalah fakultas ushuluddin. Diantara ulama yang menggunakan istilah ini adalah Abu Hasan Al Asy’ari (324 H)dalam kitab beliau Al Ibanah ‘An Ushulid Diyanah, dan Ibnu Bathoh (387 H) dalam kitabnya Asy Syarhu wal Ibanag ‘An Ushulis sunnah Wad Diyanah. Wallahu ‘Alam.
        
        </p>
<%- include('../main_layouts/article/subfooter') %> 
<%- include('../main_layouts/article/articlefooter') %> 