<%- include('./main_layouts/article/articleheader') %>
<div class="jumbotron">
  <div class="container-fluid">
    <h1 class="h1">We're In Homepage!</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eos ea possimus nostrum voluptatem sequi, expedita quasi aliquam similique ipsum dolorem laboriosam libero dignissimos impedit officia fugiat accusamus, dicta doloribus eaque excepturi. Quaerat quibusdam libero totam, sequi laboriosam voluptates vero sapiente minus distinctio similique quae iste esse eum, facilis adipisci atque tempora molestiae recusandae. Velit ratione nam perspiciatis quibusdam natus necessitatibus. Atque, error voluptatum laudantium facere illo ad repellendus exercitationem, inventore similique iusto, asperiores ut fuga eaque quam non culpa voluptate? Accusamus minima voluptas nihil amet quaerat ipsam corrupti voluptate perspiciatis veniam quis vel odit enim, autem commodi vero illo!</p>
  </div>
</div>
<%- include('./main_layouts/article/articlefooter') %> 