
        </div>
        <div class="col-lg-5 col-md-12">
            <h3 class="h3 side-part">Recommended for You</h3>
            <div class="row no-gutters">
                <div class="col-lg-5 col-md-6">
                    <h5 class="h5">Something else...</h5>
                    <p>Put another simple article here..</p>
                </div>
                <div class="col-lg-5 col-md-6">
                    <h5 class="h5">Something else...</h5>
                    <p>Put another simple article here..</p>
                </div>
            </div>
        </div>
    </div>
</div>
