<div class="container py-3 my-2">
    <div class="brdcmbs px-2 mx-2">
        <span><a href="/" class="brdcmbs-txt">Home</a>
            >
        </span>
        <span><a href="/" class="brdcmbs-txt">Artikel</a>
            >
        </span>
        <span><a href="/" class="brdcmbs-txt">Aqidah</a>
            >
        </span>
        <span><a href="/" class="brdcmbs-txt">BAB III</a>
            
        </span>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-7 col-md-12 mb-4">
            
        
    