<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lux/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/admin_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap" rel="stylesheet">

    <title>Admin | <%= title %>  Page</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-transparent">
      <button class="navbar-toggler ml-auto bg-dark" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="sidebar">
        <div class="container-fluid negative-sm-mr-n3">
          <div class="row w-100 justify-content-center">
            <!-- Sidenav -->
            <div class="col-xl-2 col-lg-3 col-md-3 sidebar fixed-top bg-dark">
              <a href="javascript:void(0)" class="navbar-brand text-white text-center d-block pt-3">Toolbar</a>
              <small class="d-block text-center text-white pb-3 mr-4">Aboo Musyafa | Admin</small>
              <hr class="bg-white mb-4">
              <ul class="navbar-nav flex-column">
                <li class="nav-item">
                  <a
                   href="/admin" class="nav-link text-white p-3 mb-2 sidebar-link current"><i class="fas fa-home text-light mr-2"></i>Halaman Utama</a>
                </li>
                <li class="nav-item">
                  <a
                   href="/article/add" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-pen-alt text-light mr-2"></i>Artikel Baru</a>
                </li>
                <li class="nav-item">
                  <a
                   href="javascript:void(0)" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-edit text-light mr-2"></i>Edit Artikel</a>
                </li>
                <li class="nav-item">
                  <a
                   href="javascript:void(0)" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-trash text-light mr-2"></i>Buang Artikel</a>
                </li>
                <li class="nav-item">
                  <a
                   href="javascript:void(0)" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-chart-bar text-light mr-2"></i>Kunjungan</a>
                </li>
                <li class="nav-item">
                  <a
                   href="javascript:void(0)" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-wrench text-light mr-2"></i>Opsi</a>
                </li>
                <li class="nav-item">
                  <a
                   href="javascript:void(0)" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-file-alt text-light mr-2"></i>Tentang</a>
                </li>
              </ul>
            </div>
            <!-- Sidenaf end -->

            <!-- Top Navbar -->
            <div class="col-xl-10 col-lg-9 col-md-9 fixed-top ml-auto top-nav bg-dark mb-2">
              <div class="row align-items-center">
                <!-- Dashboard Element -->
                <div class="col-lg-4 col-md-6">
                  <!-- setiap ganti halaman tulisannya ganti, contoh: Edit Artikel -->
                  <p class="lead text-white text-center bg-dark py-2"><i class="fas fa-home"></i> Halaman Utama</p>
                </div>
                <!-- End -f Dashboard element -->

                <!-- Log out icons / preview -->
                <div class="col-md-5 ml-auto mr-3 mb-3 text-md-right text-sm-center">
                  <div data-toggle="modal" data-target="#sign-out">
                    <a href="javascript:void(0)" class="text-center" data-toggle="tooltip" data-placement="bottom" title="Keluar">
                      <i class="fas fa-sign-out-alt fa-lg text-muted"></i>
                    </a>
                  </div>
                </div>
                <!-- Ends of Log out icons / preview-->
              </div>
            </div>
            <!-- Top Navbar end-->
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->
    
    <!-- Modal -->
    <div class="modal fade" id="sign-out" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Konfirmasi Keluar</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            Apakah Antum Yakin Akan Keluar?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Tetap Disini</button>
            <a href="/" type="button" class="btn btn-danger">Keluar</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal logout end-->
