<%- include('../main_layouts/admin/adminheader') %> 
<!-- Modify Articles -->

<section>
    <div class="container-fluid">
      <div class="row mt-4 py-4">
        <div class="col-xl-10 col-lg-9 ml-auto">
          <div class="row mt-2">
            <div class="col-lg-12 col-md-6">
              <p class="h4 text-muted text-center">Data Artikel</p>
              <!-- <table class="table bg-dark table-striped text-center">
                <thead>
                  <tr class="text-white">
                    <th>Judul</th>
                    <th>Kategori</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody class="text-white">
				
			          	<tr>
                    <td>Ushul Tsalastah</td>
                    <td>Aqidah</td>
                    <td><a href="javascript:void(0)" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fas fa-edit"></i> Manage</a></td>
                  </tr>
                  <tr>
                    <td>Aqidah Thohawiyah</td>
                    <td>Aqidah</td>
                    <td><a href="javascript:void(0)" class="btn btn-info btn-sm"  data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fas fa-edit"></i> Manage</a></td>
                  </tr>
                </tbody>
              </table> -->
              <a href="javascript:void(0)" class="btn btn-sm btn-info"  data-toggle="tooltip" data-placement="bottom" title="Liat Full"><i class="fas fa-eye mr-2"></i>Lihat Detail</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-10 col-lg-9 ml-auto">
          <form method="POST" action="/admin/save_article">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="articleTitle">Judul</label>
                <input type="text" class="form-control" id="articleTitle" placeholder="Bab Mencuci Titit" name="title">
              </div>
              <div class="form-group col-md-6">
                <label for="inputState">Kategori</label>
                <input type="text" class="form-control" id="articleTitle" placeholder="Bab Fiqh" name="tag">
              </div>
            </div>
        
            <div class="form-group">
              <textarea name="content" id="main-content" class="form-control" placeholder="Ini Untuk nulis Artikel.." rows="50"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Upload Artikel</button>
          </form>
        </div>
      </div>
      
    </div>
</section>

<!-- Modify Articles end -->
<%- include('../main_layouts/admin/adminfooter') %> 